<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <div class="container">
        <h1>404</h1><br>
        <h2>Please add Todo</h2>
    </div>
    
</body> 
</html>